{% extends "base.html" %}
{% block title %}Main{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block header_text %}MAIN{% endblock %}
{% block content %}
    <div class="container">
        <div class="row mt-5">
            <form action="/scoreboard" class="mx-auto" method="POST">
                <div class="form-group text-center">
                    <label for="roundName center">Round password:</label>
                    <input type="password" class="form-control" name="password" id="roundPassword">
                </div>
                <div class="form-group text-center team">
                    <label for="roundName center">Team 1:</label>
                    <input type="text" class="form-control" name="team1" id="team1">
                    <input type="color" name="color-team1" class="colorinput mt-2">
                </div>
                <div class="form-group text-center team">
                    <label for="roundName center">Team 2:</label>
                    <input type="text" class="form-control" name="team2" id="team2">
                    <input type="color" name="color-team2" class="colorinput mt-2">
                </div>
                <div class="form-group text-center team">
                    <label for="roundName center">Team 3:</label>
                    <input type="text" class="form-control" name="team3" id="team3">
                    <input type="color" name="color-team3" class="colorinput mt-2">
                </div>
                <div class="form-group text-center team">
                    <label for="roundName center">Team 4:</label>
                    <input type="text" class="form-control" name="team4" id="team4">
                    <input type="color" name="color-team4" class="colorinput mt-2">
                </div>
                <div class="text-center" id="buttons">
                    <button type="button" id="addteam" class="btn btn-primary">Add team</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='js/main-page.js') }}"></script>
{% endblock %}