{% extends "base.html" %}
{% block title %}Score Board{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block header_text %}SCORE BOARD{% endblock %}
{% block content %}
<div class="container-fluid mt-5">
    <div class="row">
        <div class="container-fluid text-center" id="canv">
            <!-- <h3>{{ round.round_name }}</h3>
            {% for team in round.teams %}
                <p id="{{ team }}">{{ team }} : {{ round.teams[team] }}</p>        
            {% endfor %} -->
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script>
        var filename = '{{ round.round_name }}';
        var bunnies = "{{ url_for('static', filename='img/atlas.json') }}";
        var start = "{{ url_for('static', filename='img/Start.png') }}";
        var finish = "{{ url_for('static', filename='img/Finish.png') }}";
    </script>
    <script src="{{ url_for('static', filename='js/updater.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}